<div class="principal-div">
    <div class="form-div">
        <form class="form-class" action="contact.component.ts" method="post">
            <div class="form-contact">
                <div><label class="form-elements"  for="nombreyapellido">Nombre</label></div>
                <div><input class="form-elements"  type="text"></div>
            </div>
            <div class="form-contact">
                <div><label class="form-elements" for="">Telefono</label></div>
                <div><input class="form-elements"  type="number" name="" id=""></div>
            </div>
            <div class="form-contact">
                <div><label class="form-elements"  for="apellido">Apellido</label></div>
                <div><input class="form-elements"  type="text"></div>
            </div>
            <div class="form-contact">
                <div><label class="form-elements"  for="email">Email </label></div>
                <div><input class="form-elements"  type="email" name="email" id="idemail"></div>
            </div>
            <div class="form-contact">
                <div><label class="form-elements"  for="">Mensaje</label></div>
                <div><textarea class="form-elements" name="" id="" cols="30" rows="10"></textarea></div>
            </div>
            <div class="form-contact">
                <input class="form-contact-submit" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</div>