.principal-div{
    background-color: #e6e2e2;
}
.form-div{
    display: flex;
    width: 30%;
    text-align: center;
    margin-left: 35%;
}
.form-class{
    text-align: center;
    display: block;
    background-color: #ffffff;
    border: #e6e2e2 solid 1px;
    border-radius: 1em;
    padding: 15px;
}
.form-elements{
    text-align: center;
    padding: 2%;
}
.form-contact{
    padding: 35px;
    color: #000000;
    font-size: 1.25em;
}
.form-contact-submit{
    color: #e6e2e2;
    font-size: 1.25em;
    padding: 2%;
    width: 90%;
    height: 100%;
    background-color: #0000e2;
    border: #0000e2 solid 3px;
    border-radius: 1em;
}