<div class="div-principal">
    <div class="div-h1">
        <h1>Nombre de la Propiedad</h1>
    </div>
    <div class="div-pic">
        <picture>
            <img src="" alt="imagenes">
        </picture>
    </div>
    <div class="div-ul">
        <ul>
            <div class="div-group-li">
                <li>Habitaciones:</li>
                <li>Baños:</li>
                <li>Parrilla:</li>
                <li>Quincho:</li>
                <li>Metros cuadrados:</li>
                <li>Metros cubiertos:</li>
                <li>Descripción:</li>
            </div>
        </ul>
    </div>
</div>
