<div><h1>Login</h1></div>

<div class="divform">
    <form class="form1" action="login" method="post">
        <div>
            <label class="formelement" for="username">Username</label>
            <input class="formelement" type="text">
        </div>
        <div>
            <label class="formelement" for="password">Password</label>
            <input class="formelement" type="password" name="password" id="2">
        </div>
        <div>
            <input class="btnform" type="submit" value="enviar">
        </div>
    </form>
</div>