.superdiv{
    background-color: #A6CAF0;
}
.divform{
    display: flex;
    width: 30%;
    text-align: center;
    margin-left: 35%;
}
.form1{
    text-align: center;
    display: block;
    background-color: #82b4eb;
    border: gold solid 1px;
    border-radius: 1em;
    padding: 15px;
}
.divformelements{
    padding: 35px;
    color: gold;
    font-size: 2em;
}
.formelement{
    text-align: center;
    padding: 2%;
}
.btnform{
    padding: 2%;
    width: 50%;
    height: 100%;
    background-color: darkgoldenrod;
    border: black solid 3px;
    border-radius: 1em;
}