<div class="superdiv">

<div class="divform">
    <form class="form1" action="login" method="post">
        <div class="divformelements">
            <label class="formelement" for="username">Username</label>
            <input class="formelement" name="username" type="text">
        </div>
        <div class="divformelements">
            <label class="formelement" for="password">Password</label>
            <input class="formelement" type="password" name="password" id="2">
        </div>
        <div class="divformelements">
            <input class="btnform" type="submit" value="Login">
        </div>
    </form>
</div>
</div>