<div class="superdiv">

    <div class="divform">
        <form class="form1" action="login" method="post">
            <div class="divformelements">
                <div><label class="formelement" for="username">Name</label></div>
                <div><input class="formelement" type="text"></div>
            </div>
            <div class="divformelements">
                <div><label class="formelement" for="username">Lastname</label></div>
                <div><input class="formelement" type="text"></div>
            </div>
            <div class="divformelements">
                <div><label class="formelement" for="email">Email</label></div>
                <div><input class="formelement" type="email"></div>
            </div>
            <div class="divformelements">
                <div><label class="formelement" for="password">Password</label></div>
                <div><input class="formelement" type="password" name="password" id="2"></div>
            </div>
            <div class="divformelements">
                <div><input class="btnform" type="submit" value="Login"></div>
            </div>
        </form>
    </div>
    </div>