.principal{
    height: 1500px;
    width: 100%;
    text-align: center;
    background-color: #e6e2e2;
}
.h1tittle{
    color: goldenrod;
    font-size: 22px;
    text-align: center;
}
.div-btn-card{
    justify-content: end;
}
.btn-ver{
    color: #e6e2e2;
    font-size: 85%;
    font-weight: bolder;
    width: 60%;
    height: 35px;
    background-color: #0000e2;
    border: #0000e2 solid 1px;
    border-radius: 1em;
}
h3{
    color: #000000;
}
p{
    color: blanchedalmond;
}
.divoption{
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    height: 27%;
    width: 20%;
    margin: 1%;
    border: darkgreen solid 1px;
    border-radius: 1em;
}
.img1{
    max-width: auto;
    max-height: 50%;
}