<div class="div-g-menu-bar">
    <ul class="ul-menu">
        <div class="div-ul-menu">
            <li class="li-menu"><a href="">Usuarios</a></li>
            <li class="li-menu"><a href="">Propiedades</a></li>
            <li class="li-menu"><a href="">Ventas</a></li>
            <li class="li-menu"><a href="">Alquileres</a></li>
        </div>
    </ul>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Ciudad</th>
                <th>M2</th>
                <th>M2 Cubiertos</th>
                <th>Ambientes</th>
                <th>Habitaciones</th>
                <th>Baños</th>
                <th>Cochera</th>
                <th>Quincho</th>
                <th>Parrilla</th>
                <th>Pileta</th>
                <th>Direccion</th>
                <th>Barrio</th>
                <th>Contrato</th>
                <th>Estado</th>
                <th>N° Visitas</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>