.div-g-menu-bar{
    background-color: #82b4eb;
    padding: 20px;
    border: blue solid 1px;
    border-radius: 1em;
}
.ul-menu{

}
.div-ul-menu{
    display: inline-block;
    text-align: center;
}
.li-menu{
    margin: 2em;
    background-color: rgb(71, 137, 211);
    display: inline-block;
    border: gold solid 2px;
    border-radius: 1em;
}
a{
    font-size: 1.3em;
    padding: 2em;
    color: gold;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}